html,body {
	font-family: sans-serif;
	font-size: 14px;
	margin:0;
	padding:0;
	background-color: #E7E7E7;
	color: white;
}

#menu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 3;
	background-color: #434343;
	width: 225px;
	padding-top: 5px;
	padding-left: 7px;
	padding-right: 7px;
	border-right: 3px solid #CFCFCF;
	box-shadow: inset -6px 0 9px -7px black;
	-webkit-transition: width .3s ease-in-out;
	-moz-transition: width .3s ease-in-out;
	-o-transition: width .3s ease-in-out;
	-ms-transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

#menu div.title {
	background-color: #565656;
	border-radius: 3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 13px;
	padding-bottom: 13px;
	text-align: center;
	text-shadow: -1px 2px #333
}

#menu ul {
	list-style: none;
	padding:0; margin:0; white-space:nowrap;
}

#menu ul li.divider {
	margin-top: 5px;
	border-top: 0.1em solid #3A3A3A;
}

#menu ul li.item {
	margin-top: 5px;
	border-top: 0.1em solid #3A3A3A;
	border-bottom: 0.1em solid #3A3A3A;
	background-color: #363636;
	border-radius: 3px;
	padding: 5px;
}

#menu ul li.item a {
	text-decoration: none;
	color: white;
}